<footer class="footer" style="z-index: 9999">
  <h5 class="footer__title">MEU LAR IMÓVEIS</h5>
  <div class="footer__content">
    <section class="footer__nav">
      <ul>
        <li>
          <a class="nav-link" routerLink="/sobre">SOBRE NÓS</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/buscar">BUSCAR IMÓVEIS</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/anunciar">ANUNCIAR IMÓVEL</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/contato">FALE CONOSCO</a>
        </li>
      </ul>
    </section>
    <section class="footer__address">
      <address>
        <p>Av. Amazonas, 115 - 3 andar</p>
        <p>Centro - Belo Horizonte/MG</p>
        <p>contato@meular.com</p>
      </address>
    </section>
    <section class="footer__copy">
      <div>
        <p class="m-0">Desenvolvido por: Débora Suzuki</p>
        <mat-icon>favorite</mat-icon>
      </div>
    </section>
  </div>
</footer>
