<nav class="header">
  <a class="header__logo" routerLink=""
    ><img src="../../../assets/images/meu_lar_logo.png" alt="logo-meu-lar"
  /></a>

  <div class="header__nav">
    <ul>
      <li>
        <a class="nav-link" routerLink="/sobre" routerLinkActive="active"
          >MEU LAR</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/buscar" routerLinkActive="active"
          >BUSCAR</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/anunciar" routerLinkActive="active"
          >ANUNCIAR</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/contato" routerLinkActive="active"
          >CONTATO</a
        >
      </li>
    </ul>
  </div>
</nav>
